:root {
  --basic-grey: #eee;
  --basic-black: black;
  --basic-white: #fff;
  --basic-extra-dark: grey;
  --basic-blue: #81b3d2;
  --basic-dark-blue: #669ec0;
  --basic-surep-dark: #5496bd;
  --basic-brown: #604e43;
  --basic-dark-brown: #503e33;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

body {
  min-width: 100%;
  margin: 0;
  padding: 0;
  font-family: PT Sans;
  font-size: 14px;
  text-transform: uppercase;
  background-color: var(--basic-grey);
}

a {
  text-decoration: none;
}

.app-container {
  max-width: 1200px;
  min-width: 1000px;
  margin: 0 auto;
  box-shadow: 0 5px 15px;
}

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.main-header {
  z-index: 1;
}

.main-header-logo {
  width: 138px;
  height: 70px;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -69px;
  z-index: 1;
}

.main-header-logo img {
  width: 100%;
}

.main-navigation {
  font-size: 14px;
  line-height: 26px;
}

.site-navigation {
  background-color: white;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.site-navigation__center {
  width: 138px;
}

.site-navigation li {
  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  align-self: center;
  padding: 15px 0;
}

.site-navigation-current a:not([href]) {
  background-color: var(--basic-white);
}

.site-navigation a:hover {
  color: var(--basic-blue);
}

.site-navigation a:focus {
  color: var(--basic-grey);
}

.site-navigation a:active {
  color: #766357;
}
