.main-footer {
  padding: 0;
  background: rgba(255, 255, 255, 0.9);
}

.footer-contacts {
  text-align: center;
  padding-left: 100px;
  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: black;
}

.tel {
  color: black;
}

.footer-social {
  margin: o;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.social {
  padding-left: 6px;
}

.social-button {
  width: 45px;
  height: 45px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-items: center;
  background-color: var(--basic-blue);
  color: inherit;
}

.social-button:hover {
  background-color: var(--basic-dark-blue);
}

.social-button:focus {
  background-color: var(--basic-surep-dark);
}

.img-botton {
  margin: 0 auto;
}

.social-button :hover {
  background-color: var(--basic-blue);
}

.social-button :focus {
  background-color: var(--basic-blue);
}

.main-footer .container {
  display: flex;
  justify-content: space-between;
}

.footer-copyright {
  display: flex;
  align-items: center;
  padding-right: 130px;
}

.copyright {
  padding-left: 10px;
}

.copyright:focus {
  color: #81b3d2;
}

.social_list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  text-align: center;
}

.name {
  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: black;
}

.img_hotel {
  width: 135px;
  height: 90px;
}
