.hotel-list:last-of-type {
  border-bottom: 0 none;
}

.hotel-list_item {
  display: flex;
  border-top: solid #e5e5e5 1px;
  border-bottom: solid #e5e5e5 1px;
  padding-top: 30px;
  padding-bottom: 20px;
}

.hotel-item_stars {
  height: 100px;
  margin-left: auto;
  margin-right: 50px;
}

.hotel-item_stars-list {
  height: 17px;
  margin-top: 5px;
  margin-bottom: 45px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.hotel-item_stars-text {
  padding: 4px 12px;
  background-color: #f2f2f2;
  color: #666;
  font-size: 14px;
  line-height: 21px;
  font-family: 'PT Sans';
}

.hotel-item_star {
  width: 18px;
  height: 17px;
  margin-right: 6px;
  background-image: url(../img/starstar.svg);
}

.name:hover {
  color: var(--basic-blue);
}

.name:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.img_hotel {
  padding-left: 75px;
  width: 135px;
  height: 90px;
}

.text_hotel {
  padding-left: 30px;
}

.inner_content {
  background-color: var(--basic-white);
}

.found {
  display: flex;
  flex-wrap: wrap;
  background-color: var(--basic-white);
  padding-left: 73px;
}

.found p {
  padding-left: 45px;
  padding-top: 10px;
}

.triangle {
  margin-left: auto;
  margin-right: 70px;
}

.filter-button {
  border: none;
  padding-left: 35px;
  background-color: var(--basic-white);
  outline: 0 none;
  color: #cacaca;
}

.filter-button:hover {
  color: var(--basic-blue);
}

.filter-button:active {
  color: var(--basic-black);
}

.filter-button-up {
  border: none;
  background-color: var(--basic-white);
  outline: 0 none;
}

.filter-button-up:hover {
  color: var(--basic-blue);
}

.filter-button-up:active {
  color: var(--basic-black);
}

.booking {
  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  background-color: var(--basic-brown);
  color: var(--basic-white);
  padding: 5px 17px;
  margin: 10px;
}

.booking:hover {
  background-color: var(--basic-brown);
}

.booking:active {
  background-color: var(--basic-dark-brown);
  color: var(--basic-extra-dark);
}

.more {
  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  background-color: var(--basic-blue);
  color: var(--basic-white);
  padding: 5px 10px;
}

.more:hover {
  background-color: var(--basic-dark-blue);
}

.more:active {
  background-color: var(--basic-dark-blue);
  color: var(--basic-extra-dark);
}

.b-filter {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 22px 72px;
  background-image: url(../img/background.jpg);
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  /*height: 180px;*/
}

.b-filter_list {
  display: flex;
  position: relative;
  color: var(--basic-white);
  border: 0 none;
}

.b-filter_list li {
  margin-bottom: 23px;
  display: flex;
  align-items: center;
  padding-left: 30px;
}

.b-filter_list h4 {
  margin-bottom: 24px;
}

.b-filter_list label {
  margin-left: 13px;
}

.filter-option filter-checkbox {
  list-style: none;
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
}

.b-filter-form {
  margin-left: auto;
  border: none;
}

.b-filter-form_item {
  border: 0 none;
  margin: 0;
  padding: 0;
  color: var(--basic-white);
  margin-left: 340px;
}

.range-filter {
  width: 260px;
}

.b-filter-form_item legend {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
}

.range-controls {
  position: relative;
  margin-bottom: 15px;
  padding-top: 20px;
  padding-right: 20px;
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;
  background: #666;
}

.range-controls .bar {
  width: 180px;
  height: 2px;
  background: var(--basic-white);
}

.range-controls .toggle {
  position: absolute;
  top: 10px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid white;
  background-color: #666;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  display: flex;
}

.price-controls label {
  text-transform: uppercase;
  font-family: 'PT Sans';
  font-size: 14px;
}

.price-controls input {
  width: 120px;
  height: 20px;
  font-family: inherit;
  font-size: inherit;
}

.button_show {
  width: 140px;
  margin-left: 80px;
  margin-top: 20px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.visually-hidden:not(:focus):not(:active),
input[type='checkbox'].visually-hidden {
  position: absolute;
  width: 10px;
  height: 10px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.filter-option label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
  padding-top: 5px;
}

.filter-input-checkbox:hover + label,
.filter-input-checkbox:focus + label {
  color: var(--special);
}

.filter-input-checkbox + label::before {
  content: '';
  position: absolute;
  left: -40px;
  top: 0;
  width: 23px;
  height: 23px;
  border: 2px solid white;
}

.filter-input-checkbox:checked + label::after {
  content: '';
  position: absolute;
  top: 2px;
  left: -38px;
  width: 23px;
  height: 23px;
  background-image: url(../img/done.png);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-info {
  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  padding-bottom: 25px;
}

.filter-button-up {
  padding-top: 30px;
}
