:root {
  --basic-grey: #eee;
  --basic-black: black;
  --basic-white: #fff;
  --basic-extra-dark: grey;
  --basic-blue: #81b3d2;
  --basic-dark-blue: #669ec0;
  --basic-surep-dark: #5496bd;
}

body {
  min-width: 100%;
  margin: 0;
  padding: 0;
  font-family: PT Sans;
  font-size: 14px;
  text-transform: uppercase;
  background-color: var(--basic-grey);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.main-header {
  z-index: 1;
}

.main-header-logo {
  width: 138px;
  height: 70px;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -69px;
}

.main-header-logo img {
  width: 100%;
}

.main-navigation {
  font-size: 14px;
  line-height: 26px;
}

.site-navigation {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.site-navigation__center {
  width: 138px;
}

.site-navigation li {
  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  align-self: center;
  padding: 15px 0;
}

.site-navigation-current a:not([href]) {
  background-color: var(--basic-white);
}

.site-navigation a:hover {
  background-color: var(--basic-blue);
}

.site-preview {
  position: relative;
}

.sedona-text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  width: 38%;
}

.pic {
  position: absolute;
  bottom: 0;
  left: 0;
}

.conteiner {
  text-align: center;
  background-color: var(--basic-white);
}

.title {
  width: 470px;
  height: 80px;
  margin: 0 auto;
  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
}

.visually-hidden {
  padding: 10px;
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
}

.features {
  margin: 0;
  padding: 0;
  outline: 5px solid rgba(255, 0, 0, 0.3);
}

.feature-item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
  text-align: center;
  outline: 5px solid #ca07594d;
  outline-offset: -5px;
}

.feature-item p {
  margin: 0 10px;
}

.feature-item h2 {
  font-size: 21px;
  line-height: 21px;
}

.subtitle {
  display: flex;
  column-gap: 20px;
  outline: 5px solid #ca07594d;
  outline-offset: -5px;
}

.appointment {
  position: relative;
}

.appointment_header {
  padding: 58px 0 80px;
  background-color: var(--basic-white);
  text-align: center;
}

.caption {
  margin: 0 auto;
  color: var(--basic-white);
  text-align: center;
  background: #766357;
}

.appointment-info {
  margin: 0 auto;
  width: 45%;
  margin-bottom: 15px;
}

.modal-form {
  position: absolute;
  left: 50%;
  top: 195px;
  width: 570px;
  background-color: var(--basic-white);
  margin-left: -285px;
}

.modal-form_header {
  padding: 30px 0;
}

.modal-form_body {
  padding: 55px;
}

.modal-form_button {
  margin-top: 55px !important;
  width: 100%;
}

.appointment-form {
  position: relative;
}

.appointment-item {
  display: flex;
  margin-bottom: 30px;
}

.appointment-item:last-of-type {
  margin-bottom: 0;
}

.appointment-item label {
  display: block;
  text-align: left;
  align-self: center;
  width: 100px;
}

.appointment-item input {
  flex-grow: 1;
  padding-top: 8px;
  padding-right: 15px;
  padding-bottom: 7px;
  padding-left: 15px;
  font: inherit;
  border: none;
  background-color: #f2f2f2;
  box-sizing: border-box;
}

.button {
  display: block;
  padding: 16px 0;
  text-align: center;
  border: none;
  background-color: var(--basic-blue);
}

.main-footer {
  padding: 0;
  background: rgba(255, 255, 255, 0.9);
}

.footer-contacts {
  text-align: center;
}

.footer-social {
  margin: o;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.social-button {
  width: 45px;
  height: 45px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-items: center;
  background-color: var(--basic-blue);
  color: inherit;
}

.img-botton {
  margin: 0 auto;
}

.social-button :hover {
  background-color: var(--basic-blue);
}

.social-button :focus {
  background-color: var(--basic-blue);
}

.main-footer .container {
  display: flex;
  justify-content: space-between;
}

.footer-copyright {
  display: flex;
  align-items: center;
}

.footer-copyright:hover {
  background-color: var(--basic-dark-blue);
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  text-align: center;
}

.name {
  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: black;
}

.img_hotel {
  width: 135px;
  height: 90px;
}

.hotel1 {
  /* outline-offset: -5px;
  outline: 5px solid rgba(255, 0, 0, 0.7); */
  list-style: none;
}

.hotel2 {
  /* outline-offset: -5px;
  outline: 5px solid rgba(0, 255, 0, 0.7); */
  list-style: none;
}

.hotel3 {
  /* outline-offset: -5px;
  outline: 5px solid rgba(0, 0, 255, 0.7); */
  list-style: none;
}
